.idea
.vscode

*_Spoiler.txt
*.bmbp
*.log
*_Spoiler.json
*.pyc
*.pyd
*.sfc
*.srm
*.bst
*.wixobj
*.lck
*multidata
*multisave

build
bundle/components.wxs
dist
README.html
.vs/
EnemizerCLI/
.mypy_cache/
RaceRom.py
upx/
weights/
/MultiMystery/
/Players/
/QUsb2Snes/
/options.yaml
/config.yaml
/uploads/
/logs/
_persistent_storage.yaml
mystery_result_*.yaml
/db.db3

resources/user/*
!resources/user/.gitkeep

*.exe

get-pip.py

venv
test

basic-1-errors.txt

basic-2-errors.txt

basic-3-errors.txt

crossed-1-errors.txt

crossed-2-errors.txt

crossed-3-errors.txt

success.txt
output/
Output Logs/

vanilla-errors.txt
